In [1]:
import pandas as pd

data = {'StudentID': ['std1','std2','std3','std4','std5','std6','std7','std8','std9','std10','std11','std12','std13','std14','std15','std16','std17','std18','std19','std20','std21','std22','std23','std24','std25','std26','std27','std28','std29','std30'],
        'Maths': [20,30,34,22,44,50,34,37,38,32,23,24,25,26,24,27,44,47,48,49,26,14,45,43,23,25,26,28,25,25] ,
        'Chemisry': [44,47,48,49,26,14,45,43,23,25,26,28,25,25,20,30,34,22,44,50,34,37,38,32,23,24,25,47,48,49],
        'physics': [45,43,23,25,26,28,25,25,20,30,34,22,44,50,34,37,38,32,23,24,25,49,26,14,45,43,23,25,26,28] ,
        'computer': [20,30,34,22,44,50,34,37,38,32,23,24,25,25,20,30,34,22,43,25,25,44,50,34,37,38,34,22,25,25],
        'programming': [45,43,23,25,26,28,25,25,20,30,34,22,44,50,37,38,32,23,24,25,25,20,30,34,22,43,25,45,41,22]
       
       }

In [2]:
data = pd.DataFrame(data)
data

   StudentID  Maths  Chemisry  physics  computer  programming
0       std1     20        44       45        20           45
1       std2     30        47       43        30           43
2       std3     34        48       23        34           23
3       std4     22        49       25        22           25
4       std5     44        26       26        44           26
5       std6     50        14       28        50           28
6       std7     34        45       25        34           25
7       std8     37        43       25        37           25
8       std9     38        23       20        38           20
9      std10     32        25       30        32           30
10     std11     23        26       34        23           34
11     std12     24        28       22        24           22
12     std13     25        25       44        25           44
13     std14     26        25       50        25           50
14     std15     24        20       34        20           37
15     std16     27        30       37        30           38
16     std17     44        34       38        34           32
17     std18     47        22       32        22           23
18     std19     48        44       23        43           24
19     std20     49        50       24        25           25
20     std21     26        34       25        25           25
21     std22     14        37       49        44           20
22     std23     45        38       26        50           30
23     std24     43        32       14        34           34
24     std25     23        23       45        37           22
25     std26     25        24       43        38           43
26     std27     26        25       23        34           25
27     std28     28        47       25        22           45
28     std29     25        48       26        25           41
29     std30     25        49       28        25           22

In [3]:
data['Total'] = data[['Maths', 'Chemisry', 'physics', 'computer', 'programming']].sum(axis=1)

In [4]:
data

   StudentID  Maths  Chemisry  physics  computer  programming  Total
0       std1     20        44       45        20           45    174
1       std2     30        47       43        30           43    193
2       std3     34        48       23        34           23    162
3       std4     22        49       25        22           25    143
4       std5     44        26       26        44           26    166
5       std6     50        14       28        50           28    170
6       std7     34        45       25        34           25    163
7       std8     37        43       25        37           25    167
8       std9     38        23       20        38           20    139
9      std10     32        25       30        32           30    149
10     std11     23        26       34        23           34    140
11     std12     24        28       22        24           22    120
12     std13     25        25       44        25           44    163
13     std14     26        25       50        25           50    176
14     std15     24        20       34        20           37    135
15     std16     27        30       37        30           38    162
16     std17     44        34       38        34           32    182
17     std18     47        22       32        22           23    146
18     std19     48        44       23        43           24    182
19     std20     49        50       24        25           25    173
20     std21     26        34       25        25           25    135
21     std22     14        37       49        44           20    164
22     std23     45        38       26        50           30    189
23     std24     43        32       14        34           34    157
24     std25     23        23       45        37           22    150
25     std26     25        24       43        38           43    173
26     std27     26        25       23        34           25    133
27     std28     28        47       25        22           45    167
28     std29     25        48       26        25           41    165
29     std30     25        49       28        25           22    149

In [ ]:
df = pd.DataFrame(data)

csv_file_path = 'path/to/your/file.csv'

df.to_csv(csv_file_path, index=False)

In [5]:
def answer_prompt(prompt):
    if "first rank holder" in prompt.lower():
        first_rank_name = data['Total'].idxmax()
        return f"The first rank holder's name is: {data.loc[first_rank_name, 'StudentID']}"
    else:
        return "I'm sorry, I don't understand that question."

In [54]:
user_prompt = input("Ask me a question: ")
response = answer_prompt(user_prompt)
print(response)

Ask me a question: first rank holder
The first rank holder's name is: std2